body{
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
}
h1{
    font-size:45px;
}
#timer{
    text-align:center;
}
.btn{
   
    background-color: rgb(7, 7, 26);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-fill-color: white;
}
#ghanta{
    text-align:center;
}
